/* ===========================
   Giao diện bảng câu hỏi
=========================== */
@import url('table/table.css');
@import url('table/topbar.css');

body {
  font-family: "Segoe UI", sans-serif;
  background: #f9f9f9;
  color: #333;
}
