/* ===========================
   Giao diện bảng câu hỏi
=========================== */
@import url('table/mc_table.css');
@import url('table/mc_table_custom.css');
@import url('table/topbar.css');
@import url('table/mc_filter.css');

body {
  font-family: "Segoe UI", sans-serif;
  background: #f9f9f9;
  color: #333;
}
