.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border-radius: var(--border-radius);
  border: 1px solid #ccc;
  box-sizing: border-box;
}

body.dark .form-control {
  background-color: #444;
  color: white;
  border: 1px solid #666;
}

.form-actions button {
  margin-right: 10px;
}

