/* Ảnh thu nhỏ */
.thumb {
  max-width: 50px;
  max-height: 50px;
  cursor: pointer;
}

/* Container tổng chứa bộ lọc và nút export */
.mc-filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  gap: 10px;
  flex-wrap: wrap;
}

/* Ô lọc chủ đề */
.filter-box {
  flex: 1;
  min-width: 200px;
}

/* Vị trí đặt nút xuất Excel */
.mc-export-container {
  flex-shrink: 0;
}

/* Nút Xuất Excel */
button.mc-export-excel {
  background-color: #198754; /* xanh lá Bootstrap */
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.mc-export-excel:hover {
  background-color: #157347;
}

/* Lọc theo chủ đề*/
.yadcf-filter-wrapper {
  padding: 4px;
}
select.yadcf-filter {
  padding: 4px 6px;
  border-radius: 4px;
  font-size: 0.9rem;
}
