.mc-buttons {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .mc-buttons button {
    padding: 10px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    border: none;
  }
  